@import "_reset.scss";

//Global Variables

$background: #e0e0e0;
$dark: #263238;
$royal: #0d47a1;
$turtle: #009688;

body {
  color: white;
  font-family: 'RobotoDraft','Helvetica Neue',Helvetica,Arial;
}

h4 {
  font-size: 1.5em;
  font-weight: 400;
}

.textOne {
  background: $dark;
}

.textTwo {
  background: $royal;
}

.textThree {
  background: $turtle;
}

.logo {
  width: 10em;
}

.navbar {
  font-size: 1.1em;
  padding: 1.2%;
  margin: 0;
}

.one {
  position: relative;
  background: url('../img/shopping.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 600px;
}

.two {
  // position: relative;
  background: url('../img/mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.three {
  background: url('../img/media.jpg');
  background-repeat: no-repeat;
}

// .wrapper {
//   width: 93.75em;
//   margin: 0 auto;
// }

//Mobile
@media only screen
  and (max-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2) {

.one {
  // position: absolute;
  height: 405px;
 }

.textOne {
  position: absolute;
  margin: 2em;
  padding: 1.3em;
  top: 235px;
  width: 90%;
}

.two {
  height: 115px;
}

.textTwo {
  float: right;
  font-size: .8em;
  padding: 1.3em;
  width: 60%;
  height: 115px;
}

.three {
  height: 115px;
}

.textThree {
  float: right;
  font-size: .8em;
  padding: 1.3em;
  width: 60%;
  height: 115px;
}

}

//iPad
@media only screen
  and (min-width: 601px)
  and (max-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 2) {


}
