html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: white;
  font-family: 'RobotoDraft','Helvetica Neue',Helvetica,Arial; }

h4 {
  font-size: 1.5em;
  font-weight: 400; }

.textOne {
  background: #263238; }

.textTwo {
  background: #0d47a1; }

.textThree {
  background: #009688; }

.logo {
  width: 10em; }

.navbar {
  font-size: 1.1em;
  padding: 1.2%;
  margin: 0; }

.one {
  position: relative;
  background: url("../img/shopping.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 600px; }

.two {
  background: url("../img/mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; }

.three {
  background: url("../img/media.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; }

.sentence {
  display: none; }

@media only screen and (max-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .one {
    height: 405px; }

  .textOne {
    position: absolute;
    margin: 1em;
    padding: 1.4em;
    top: 225px;
    width: 90%; }

  .two {
    height: 115px; }

  .textTwo {
    float: right;
    font-size: .8em;
    padding: 1.3em;
    width: 60%;
    height: 115px; }

  .three {
    height: 115px; }

  .textThree {
    float: right;
    font-size: .8em;
    padding: 1.3em;
    width: 60%;
    height: 115px; } }
@media only screen and (min-width: 601px) and (max-width: 1000px) and (-webkit-min-device-pixel-ratio: 2) {
  .one {
    height: 405px; }

  .textOne {
    position: absolute;
    margin: 2em;
    padding: 2em;
    top: 100px;
    width: 40%; }

  .two {
    float: left;
    width: 50%;
    height: 300px; }

  .textTwo {
    font-size: .9em;
    padding: 1.3em; }

  .three {
    float: right;
    width: 50%;
    height: 300px; }

  .textThree {
    font-size: .9em;
    padding: 1.3em; }

  .clearfix {
    clear: both; }

  .sentence {
    display: block; } }
@media screen and (min-width: 1001px) and (max-width: 3000px) and (-webkit-min-device-pixel-ratio: 1) {
  .one {
    position: relative; }

  .textOne {
    position: absolute;
    margin: 2em;
    padding: 2em;
    top: 200px;
    width: 20%; }

  .two {
    position: relative;
    float: right;
    width: 30%;
    height: 300px;
    top: -600px;
    margin-left: 60em; }

  .textTwo {
    position: relative;
    top: 195px;
    font-size: .9em;
    padding: 1.3em; }

  .three {
    position: relative;
    float: right;
    width: 30%;
    height: 300px;
    top: -600px;
    margin-left: 60em; }

  .textThree {
    position: relative;
    top: 195px;
    font-size: .9em;
    padding: 1.3em; } }

/*# sourceMappingURL=styles.css.map */
